<h1>Pirate Profile!</h1>
        {{#if error}}
        <h1>{{error}}</h1>
        {{/if}}
<h1>Name: {{ pirate.name }}</h1>
<h3>Birthplace: {{ pirate.birthplace }}</h3>
<h3>Death: {{ pirate.death_year }}</h3>
<h3>Location: {{ pirate.base }}</h3>
<h3>Nickname: {{ pirate.nickname }}</h3>

<a href="/index">List of Pirates</a>