<h1>This is an individual pirate!</h1>
{{#if error}}
  <h1>{{error}}</h1>
{{/if}}
<h1>Name: {{ name }}</h1>
<h3>Birthplace: {{ birthplace }}</h3>
<h3>Death: {{ death_year }}</h3>
<h3>Location: {{ base }}</h3>
<h3>Nickname: {{ nickname }}</h3>

<a href="/index">List of Pirates</a>